<p>youve completeed a round of <%= @round.deck.name %>. You answered <%= @round.first_try_count %>/ <%=@round.cards.length%> on the first try. you submitted <%= @round.total_guesses%> guesses before each card was answered correctly. </p>

