<%=@card.definition%>
<br>
<%if @errors%>
  <% @errors.each do |error| %>
    <%= error %>
  <%end%>
<%end%>

<form action="/rounds/<%=@round.id%>" method="POST">
  <input type="text" name="word" placeholder="enter answer">
  <input type="submit" value="submit">
</form>
<br>
<%=@message%>
