<form class="signup-login-form" action='/users/login' method='post'>
  <h4> Username </h4>
  <input class="username" type='text' name="username" placeholder="Username must be 20 chars"><br>
  <h4> Password </h4>
  <input class="password" type='password' name="password" placeholder='Password'><br><br>
  <input class="submit" type="submit" value="Submit!">
</form>

<p><%= @error %></p>
