<% if @errors %>
  <% @errors.each do |error| %>
    <li> <%= error %></li>
  <%end%>
<%end%>

<form class="signup-login-form"action='/users' method='post'>
  <h4> Username </h4>
  <input class="username" type='text' name="user[username]" placeholder="Username must be 20 chars"><br>
  <h4> Password </h4>
  <input class="password" type='password' name="user[password]" placeholder='Password'><br>
  <h4> Description</h4>
  <textarea name="user[description]" cols="52" rows="6"  placeholder="write something about yourself..."></textarea> <br>
  <input class="submit" type="submit" value="Submit!">
</form>


