<div class="deck">
<%=@deck.name%>
</div>
<br>
<div class="play-button">
  <% if logged_in?%>
    <a href="/rounds">play</a>
  <% else %>
    <a href="/users/new">Sign Up or Login to Play</a>
  <%end%>
</div>